.hamburger{
	height: 100%;
    padding-top: 10px;
	width:120px;
	cursor: pointer;
}
.hamburger:hover{
	background-color: #171154;
}
.logoo {
	position:relative;
	left: 40%;
	top:40%;
	color: #fffc;
	font-family:'Courier New', Courier, monospace;
	cursor: default;
	user-select: none;
}
.PhoneHeader{
    display: flex;
    flex-direction: row;
}