.headerr {
	background-color:#000080;
	color: white;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logoo {
	height: 90px;
}
.menu-button {
	background: none;
	border: none;
	color: white;
	font-size: 24px;
	cursor: pointer;
}
.nav {
	display: none;
	position: absolute;
	top: 70px;
	right: 0;
	background-color: #000080;
	width: 200px;
	z-index: 2;
	height: fit-content;
	border-radius: 20px;
}
.nav.show {
	display: block;
}
.nav button {
	display: block;
	width: 100%;
	padding: 20px;
	background: none;
	border: none;
	color: white;
	text-align: left;
	cursor: pointer;
	font-size: large;
	font-style: unset;
	
}
.nav button:hover {
	background-color: #efeef7;
}
@media (min-width: 768px) {
	.menu-button {
		display: none;
	}
	.nav {
		display: block;
		position: static;
		width: auto;
		background: none;
	}
	.nav button {
		display: inline-block;
		width: auto;
	}
}