@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap');

/* From Uiverse.io by satyamchaudharydev */ 
/* === removing default button style ===*/
.button {
    margin-top: 10px;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
	left:45%
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgb(234, 233, 238);
    --animation-color: #ffffff;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }
*, *:after, *:before {
  margin: 0;
  padding: 0;
}
body{
	background-color: white;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

.header {
	height: 100px;
    right: 0;
    left: 0;
    top: 0;
	padding-top: 10px;
	background-color:  #000080;
    box-shadow: 0px 5px 13px rgba(0,0,0,0.4);
}
.container {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
}
.lead { font-family: 'Quicksand'; }
.header-bar {
	position: relative;
	width: 50%;
	min-width: 300px;
	height: 50px;
	border: 10px solid transparent;
	border-top: 10px solid #fffa;
	border-left: 10px solid #fffa;
	box-shadow: 4px 4px 5px #21188d inset;
}
.header-bar::after {
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30%;
	height: 49px;
	border: 10px solid transparent;
	border-bottom: 10px solid #fffa;
	border-right: 10px solid #fffa;
	transition: 0.3s linear all;
}
.header-bar > .logo {
	position: absolute;
	top: calc(100% - 10px);
	left: 10px;
	transform: translateY(-50%);
	color: #fffc;
	font-family:'Courier New', Courier, monospace;
	cursor: default;
	user-select: none;
}
.slider-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.slider-menu > li {
	display: inline-flex;
	padding: 14px;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}
.slider-menu > li:hover {
	color: #21188d;
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}
.logoImg{
	height: 140px;
}
a{  text-decoration: none;
	color: white;
}